$blue_theme: #70a1ff;

//Currently Selected Controller
.selected-controller {
    border-bottom: 2px solid $blue_theme;
}

.Login-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}